body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
    text-align: center;
}

.content{
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
}

.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

h1.header{
    font-size: 6vh;
    margin: 400px 0 0 0;
    animation: slideIn 1.4s ease, ease-in 0.8s;
}

h2.header{
    font-size: 2vh;
    margin: 5px;
    font-weight: 400;
    font-style: italic;
    animation: slideIn 1.6s ease, ease-in 1s;
}

.social-media {
    font-size: 2.2vh;
    animation: slideIn 1.8s ease, ease-in 1.2s;
}

a {
    color: white;
    margin: 7px;
}

.footer {
    font-size: 1.2vh;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
    text-align: right;
}

::selection {
    background: #ff646e;
}

@keyframes slideIn {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
